{% extends 'chat/base.html' %}

{% block content %}
<div class="profile-page-container">

    <div class="profile-card edit-profile-card">
        <div class="profile-cover"></div>

        <div class="profile-main">
            <h1>Edit Profile</h1>
            <p class="profile-username">Update your public profile details</p>

            <form method="POST" enctype="multipart/form-data" class="profile-form">
                {% csrf_token %}

                <label>Full Name</label>
                <input 
                    type="text" 
                    name="full_name" 
                    value="{{ profile.full_name }}" 
                    placeholder="Enter your full name"
                >

                <label>Bio</label>
                <textarea 
                    name="bio" 
                    maxlength="180" 
                    placeholder="Write something about yourself..."
                >{{ profile.bio }}</textarea>

                <label>Profile Picture</label>
                <input type="file" name="profile_picture" accept="image/*">

                <button type="submit" class="main-btn">Save Profile</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}